$color-white: #ffffff;
$color-light-salmon-pink: #ff97a4;
$color-day-sky-blue: #73c6ee;

$h1-font-size: 52px;
$h3-font-size: 32px;
$h3-font-size-mobile: 24px;
$p-font-size: 16px;
$p-font-size-mobile: 12px;

$color-button: $color-light-salmon-pink;
$color-button-hover: $color-day-sky-blue;
$color-button-text: $color-white;
$color-modal-background: $color-white;
$color-title-text: $color-light-salmon-pink;
$color-border: $color-light-salmon-pink;
$color-card-border: $color-day-sky-blue;
